.c-el--pink {
    /* test your catalyst integration by adding this class to an element in your project */
    color: pink !important;
}

.c-el--main {
    color: var(--c--main);
}

.c-bg--main {
    background-color: var(--c--main);
}

.c-bor--main {
    border-color: var(--c--main);
}

.c-el--main--90 {
    color: var(--c--main--90);
}

.c-bg--main--90 {
    background-color: var(--c--main--90);
}

.c-bor--main--90 {
    border-color: var(--c--main--90);
}

.c-el--main--80 {
    color: var(--c--main--80);
}

.c-bg--main--80 {
    background-color: var(--c--main--80);
}

.c-bor--main--80 {
    border-color: var(--c--main--80);
}

.c-el--main--60 {
    color: var(--c--main--60);
}

.c-bg--main--60 {
    background-color: var(--c--main--60);
}

.c-bor--main--60 {
    border-color: var(--c--main--60);
}

.c-el--main--50 {
    color: var(--c--main--50);
}

.c-bg--main--50 {
    background-color: var(--c--main--50);
}

.c-bor--main--50 {
    border-color: var(--c--main--50);
}

.c-el--main--40 {
    color: var(--c--main--40);
}

.c-bg--main--40 {
    background-color: var(--c--main--40);
}

.c-bor--main--40 {
    border-color: var(--c--main--40);
}

.c-el--main--30 {
    color: var(--c--main--30);
}

.c-bg--main--30 {
    background-color: var(--c--main--30);
}

.c-bor--main--30 {
    border-color: var(--c--main--30);
}

.c-el--main--20 {
    color: var(--c--main--20);
}

.c-bg--main--20 {
    background-color: var(--c--main--20);
}

.c-bor--main--20 {
    border-color: var(--c--main--20);
}

.c-el--main--10 {
    color: var(--c--main--10);
}

.c-bg--main--10 {
    background-color: var(--c--main--10);
}

.c-bor--main--10 {
    border-color: var(--c--main--10);
}

/* ----- */
.c-el--accent {
    color: var(--c--accent);
}

.c-bg--accent {
    background-color: var(--c--accent);
}

.c-bor--accent {
    border-color: var(--c--accent);
}

.c-el--accent--90 {
    color: var(--c--accent--90);
}

.c-bg--accent--90 {
    background-color: var(--c--accent--90);
}

.c-bor--accent--90 {
    border-color: var(--c--accent--90);
}

.c-el--accent--80 {
    color: var(--c--accent--80);
}

.c-bg--accent--80 {
    background-color: var(--c--accent--80);
}

.c-bor--accent--80 {
    border-color: var(--c--accent--80);
}

.c-el--accent--70 {
    color: var(--c--accent--70);
}

.c-bg--accent--70 {
    background-color: var(--c--accent--70);
}

.c-bor--accent--70 {
    border-color: var(--c--accent--70);
}

.c-el--accent--60 {
    color: var(--c--accent--60);
}

.c-bg--accent--60 {
    background-color: var(--c--accent--60);
}

.c-bor--accent--60 {
    border-color: var(--c--accent--60);
}

.c-el--accent--50 {
    color: var(--c--accent--50);
}

.c-bg--accent--50 {
    background-color: var(--c--accent--50);
}

.c-bor--accent--50 {
    border-color: var(--c--accent--50);
}

.c-el--accent--40 {
    color: var(--c--accent--40);
}

.c-bg--accent--40 {
    background-color: var(--c--accent--40);
}

.c-bor--accent--40 {
    border-color: var(--c--accent--40);
}

.c-el--accent--30 {
    color: var(--c--accent--30);
}

.c-bg--accent--30 {
    background-color: var(--c--accent--30);
}

.c-bor--accent--30 {
    border-color: var(--c--accent--30);
}

.c-el--accent--20 {
    color: var(--c--accent--20);
}

.c-bg--accent--20 {
    background-color: var(--c--accent--20);
}

.c-bor--accent--20 {
    border-color: var(--c--accent--20);
}

.c-el--accent--10 {
    color: var(--c--accent--10);
}

.c-bg--accent--10 {
    background-color: var(--c--accent--10);
}

.c-bor--accent--10 {
    border-color: var(--c--accent--10);
}

/* ----- */
.c-el--gray {
    color: var(--c--gray);
}

.c-bg--gray {
    background-color: var(--c--gray);
}

.c-bor--gray {
    border-color: var(--c--gray);
}

.c-el--gray--90 {
    color: var(--c--gray--90);
}

.c-bg--gray--90 {
    background-color: var(--c--gray--90);
}

.c-bor--gray--90 {
    border-color: var(--c--gray--90);
}

.c-el--gray--80 {
    color: var(--c--gray--80);
}

.c-bg--gray--80 {
    background-color: var(--c--gray--80);
}

.c-bor--gray--80 {
    border-color: var(--c--gray--80);
}

.c-el--gray--70 {
    color: var(--c--gray--70);
}

.c-bg--gray--70 {
    background-color: var(--c--gray--70);
}

.c-bor--gray--70 {
    border-color: var(--c--gray--70);
}

.c-el--gray--60 {
    color: var(--c--gray--60);
}

.c-bg--gray--60 {
    background-color: var(--c--gray--60);
}

.c-bor--gray--60 {
    border-color: var(--c--gray--60);
}

.c-el--gray--50 {
    color: var(--c--gray--50);
}

.c-bg--gray--50 {
    background-color: var(--c--gray--50);
}

.c-bor--gray--50 {
    border-color: var(--c--gray--50);
}

.c-el--gray--40 {
    color: var(--c--gray--40);
}

.c-bg--gray--40 {
    background-color: var(--c--gray--40);
}

.c-bor--gray--40 {
    border-color: var(--c--gray--40);
}

.c-el--gray--30 {
    color: var(--c--gray--30);
}

.c-bg--gray--30 {
    background-color: var(--c--gray--30);
}

.c-bor--gray--30 {
    border-color: var(--c--gray--30);
}

.c-el--gray--20 {
    color: var(--c--gray--20);
}

.c-bg--gray--20 {
    background-color: var(--c--gray--20);
}

.c-bor--gray--20 {
    border-color: var(--c--gray--20);
}

.c-el--gray--10 {
    color: var(--c--gray--10);
}

.c-bg--gray--10 {
    background-color: var(--c--gray--10);
}

.c-bor--gray--10 {
    border-color: var(--c--gray--10);
}

/* ----- */
.c-el--white {
    color: var(--c--white);
}

.c-bg--white {
    background-color: var(--c--white);
}

.c-bor--white {
    border-color: var(--c--white);
}

.c-el--white--90 {
    color: var(--c--white--90);
}

.c-bg--white--90 {
    background-color: var(--c--white--90);
}

.c-bor--white--90 {
    border-color: var(--c--white--90);
}

.c-el--white--80 {
    color: var(--c--white--80);
}

.c-bg--white--80 {
    background-color: var(--c--white--80);
}

.c-bor--white--80 {
    border-color: var(--c--white--80);
}

.c-el--white--70 {
    color: var(--c--white--70);
}

.c-bg--white--70 {
    background-color: var(--c--white--70);
}

.c-bor--white--70 {
    border-color: var(--c--white--70);
}

.c-el--white--60 {
    color: var(--c--white--60);
}

.c-bg--white--60 {
    background-color: var(--c--white--60);
}

.c-bor--white--60 {
    border-color: var(--c--white--60);
}

.c-el--white--50 {
    color: var(--c--white--50);
}

.c-bg--white--50 {
    background-color: var(--c--white--50);
}

.c-bor--white--50 {
    border-color: var(--c--white--50);
}

.c-el--white--40 {
    color: var(--c--white--40);
}

.c-bg--white--40 {
    background-color: var(--c--white--40);
}

.c-bor--white--40 {
    border-color: var(--c--white--40);
}

.c-el--white--30 {
    color: var(--c--white--30);
}

.c-bg--white--30 {
    background-color: var(--c--white--30);
}

.c-bor--white--30 {
    border-color: var(--c--white--30);
}

.c-el--white--20 {
    color: var(--c--white--20);
}

.c-bg--white--20 {
    background-color: var(--c--white--20);
}

.c-bor--white--20 {
    border-color: var(--c--white--20);
}

.c-el--white--10 {
    color: var(--c--white--10);
}

.c-bg--white--10 {
    background-color: var(--c--white--10);
}

.c-bor--white--10 {
    border-color: var(--c--white--10);
}