/* Ed. 1.2 — homogeneus naming convention */
.st-row {
    display: flex;
}

.st-col {
    display: flex;
    flex-direction: column;
}

.st-grid {
    display: grid;
}

.st-grid._st-grid--1-1 {
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 991px) {

    /* tablet and mobile */
    .st-col--tablet {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .st-col--mobile {
        display: flex;
        flex-direction: column;
    }
}

.st-apll--start {
    justify-content: flex-start;
}

.st-apll--mid {
    justify-content: center;
}

.st-apll--end {
    justify-content: flex-end;
}

.st-apll--sb {
    justify-content: space-between;
}

.st-appdcl--start {
    align-items: flex-start;
}

.st-appdcl--mid {
    align-items: center;
}

.st-appdcl--end {
    align-items: flex-end;
}

.st-as--start {
    align-self: start;
}

.st-as--mid {
    align-self: center;
}

.st-as--end {
    align-self: end;
}

.st-ht--100dvh,
.st-ht--100svh {
    max-height: calc(5 * var(--sp--7xl));
}

.st-ht--100dvh {
    min-height: 100dvh;
}

.st-mw--pleasant {
    max-width: 720px;
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .st-mw--pleasant {
        /* purpose: facilitate reading — no need to reduce width on mobile */
        max-width: 100%;
    }
}

.st-anchor {
    position: relative;
}

.st-hook {
    position: absolute;
}

.st-img--normalize {
    width: 100%;
}

.st-ratio--10-8 {
    aspect-ratio: 10/8;
}