body {
  font-family: var(--t--ff--p);
  color: var(--c--main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--t--ff--h);
}

p,
.t-s--xs,
.t-s--s,
.t-s--m,
.t-s--l {
  line-height: var(--t-ln-ht--small-t);
}

.t-s--xl,
.t-s--2xl {
  line-height: var(--t-ln-ht--medium-t);
}

.t-s--xl,
.t-s--2xl,
.t-s--3xl,
.t-s--4xl,
.t-s--5xl {
  line-height: var(--t-ln-ht--big-t);
}

.t-s--xs {
  font-size: var(--t-s--xs);
}

.t-s--s {
  font-size: var(--t-s--s);
}

.t-s--m {
  font-size: var(--t-s--m);
}

.t-s--l {
  font-size: var(--t-s--l);
}

.t-s--xl {
  font-size: var(--t-s--xl);
}

.t-s--2xl {
  font-size: var(--t-s--2xl);
}

.t-s--3xl {
  font-size: var(--t-s--3xl);
}

.t-s--4xl {
  font-size: var(--t-s--4xl);
}

.t-s--5xl {
  font-size: var(--t-s--5xl);
}

/* ----- */
.t-w--r {
  font-weight: 500;
}

.t-w--b {
  font-weight: 800;
}

/* ----- */
.t-a--l {
  text-align: left;
}

.t-a--c {
  text-align: center;
}

.t-a--r {
  text-align: right;
}

/* ----- */
.t-d--un {
  text-decoration: underline;
}